#characterInfoContainer {
    display: flex;
    border-top: 3px solid black;
    padding: 20px;
}

.chooseCharacter {
    width: 20%;
    background-color: lightgrey;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}

.info {
    width: 80%;
}